extends layout
block content
  .container
    h1 Peers
    +alerts()
    form(method='post', role='form', action='/')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Ready State
          th IP
          th Hostname
          th Available Capacity
          th Services
          th CPU Usage
          th Disk Usage
          th Disk Space
          th Last Registered

        if peers.length
          each peer in peers
            tr
              td
                input(type='checkbox', name='remove[]', value=peer.hostname)
              td= peer.readyState
              td= peer.ip
              td= peer.hostname
              td= peer.availableCapacity
              td= peer.services
              td #{(100 - (parseInt(peer.cpuIdle,10) / parseInt(peer.cpuTotal,10)) * 100).toFixed(2)}%
              td #{(100 - (parseInt(peer.diskFree,10) / parseInt(peer.diskTotal,10)) * 100).toFixed(2)}%
              td #{prettyBytes(parseInt(peer.diskFree,10))} / #{prettyBytes(parseInt(peer.diskTotal,10))}
              td= moment(new Date(peer.sent)).fromNow()
        else
          tr
            td(colspan='8') No entries exist