extends layout
append meta
  meta(http-equiv='refresh', content='5')
block content
  .container
    h1 Peers
    +alerts()
    form(method='post', role='form', action='/')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th State
          th
            div IP (Hostname)
            div
              small.text-muted Services
          th Available
          th CPU
          th Memory
          th Disk
          th Net In
          th Net Out
          th Seen

        if peers.length
          each peer in peers
            - peer.availableCapacity = parseInt(peer.availableCapacity,10)
            - peer.cpuUsed = parseInt(peer.cpuUsed,10)
            - peer.cpuCount = parseInt(peer.cpuCount,10)
            - peer.diskFree = parseInt(peer.diskFree,10)
            - peer.diskTotal = parseInt(peer.diskTotal,10)
            - peer.diskPercent = (100 - (peer.diskFree / peer.diskTotal) * 100).toFixed(2)
            - peer.memoryFree = parseInt(peer.memoryFree,10)
            - peer.memoryTotal = parseInt(peer.memoryTotal,10)
            - peer.netSpeed = parseInt(peer.netSpeed,10)
            - peer.netInBps = parseInt(peer.netInBps,10)
            - peer.netOutBps = parseInt(peer.netOutBps,10)
            - peer.memoryPercent = (100 - (peer.memoryFree / peer.memoryTotal) * 100).toFixed(2)
            - peer.netInPercent = ((peer.netInBps / peer.netSpeed) * 100).toFixed(2)
            - peer.netOutPercent = ((peer.netOutBps / peer.netSpeed) * 100).toFixed(2)
            - peer.sentDelta = ((+new Date - peer.sent)/1000).toFixed(1)
            tr
              td
                input(type='checkbox', name='remove[]', value=peer.hostname)
              td= peer.readyState
              td
                div
                  | #{peer.ip}
                  | (#{peer.hostname})
                div
                  small.text-muted= peer.services
              td
                .progress.progress-striped(style='margin-bottom: 0;')
                  .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='#{peer.availableCapacity}', aria-valuemin='0', aria-valuemax='100', style='width: #{peer.availableCapacity}%;')
                div
                  small.text-muted #{peer.availableCapacity.toFixed(2)}%
              td
                .progress.progress-striped(style='margin-bottom: 0;')
                  .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='#{peer.cpuUsed}', aria-valuemin='0', aria-valuemax='100', style='width: #{peer.cpuUsed}%;')
                div
                  small.text-muted #{peer.cpuUsed}%
              td
                .progress.progress-striped(style='margin-bottom: 0;')
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='#{peer.memoryPercent}', aria-valuemin='0', aria-valuemax='100', style='width: #{peer.memoryPercent}%;')
                    | #{peer.memoryPercent}%
                div
                  small.text-muted #{prettyBytes(peer.memoryTotal - peer.memoryFree)} / #{prettyBytes(peer.memoryTotal)}
              td
                .progress.progress-striped(style='margin-bottom: 0;')
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='#{peer.diskPercent}', aria-valuemin='0', aria-valuemax='100', style='width: #{peer.diskPercent}%;')
                    | #{peer.diskPercent}%
                div
                  small.text-muted #{prettyBytes(peer.diskTotal - peer.diskFree)} / #{prettyBytes(peer.diskTotal)}
              td
                .progress.progress-striped(style='margin-bottom: 0;')
                  .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='#{peer.netInPercent}', aria-valuemin='0', aria-valuemax='100', style='width: #{peer.netInPercent}%;')
                    | #{peer.netInPercent}%
                div
                  small.text-muted #{prettyBytes(peer.netInBps)} / #{prettyBytes(peer.netSpeed)}
              td
                .progress.progress-striped(style='margin-bottom: 0;')
                  .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='#{peer.netOutPercent}', aria-valuemin='0', aria-valuemax='100', style='width: #{peer.netOutPercent}%;')
                    | #{peer.netOutPercent}%
                div
                  small.text-muted #{prettyBytes(peer.netOutBps)} / #{prettyBytes(peer.netSpeed)}
              td #{peer.sentDelta}s ago
        else
          tr
            td(colspan='8') No entries exist