extends ../layout
block append js
  script(src='/js/table.js')
  script(src='/js/episode.js')
block content
  .container
    h2 Edit Episode
    +alerts()
    form.form-horizontal(action='/store/save', method='post', role='form')
      input(type='hidden', name='id', value=store.id)
      input(type='hidden', name='prism', value=store.PrismId)
      .form-group
        label.control-label.col-sm-2 Prism
        .col-sm-10
          .form-control-static
            a(href='/prism/edit?id=#{store.PrismId}')= store.Prism.name
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10
          input.form-control(type='text', name='name', placeholder='Store Name', value=store.name)
      .form-group
        label.control-label.col-sm-2 Host
        .col-sm-10
          input.form-control(type='text', name='host', placeholder='Store Host', value=store.host)
      .form-group
        label.control-label.col-sm-2 Port
        .col-sm-10
          input.form-control(type='text', name='port', placeholder='Store Port', value=store.post)
      div
        button.btn.btn-danger#tableDelete(type='submit')
          span.glyphicon.glyphicon-remove
          span  Delete Checked
