extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    h1 #{prism.name}
    +alerts()
    form.form-horizontal(action='/prism/save', method='post', role='form')
      input(type='hidden', name='id', value=prism.id)
      .form-group
        label.control-label.col-sm-2 Name
        .col-sm-10
          input.form-control(type='text', name='name', placeholder='Prism Name', value=prism.name)
      .form-group
        label.control-label.col-sm-2 Group
        .col-sm-10
          input.form-control(type='text', name='group', placeholder='Prism Group', value=prism.group)
      .form-group
        label.control-label.col-sm-2 Host
        .col-sm-10
          input.form-control(type='text', name='host', placeholder='Prism Host', value=prism.host)
      .form-group
        label.control-label.col-sm-2 Port
        .col-sm-10
          input.form-control(type='text', name='port', placeholder='Prism Port', value=prism.port)
      .form-group
        label.control-label.col-sm-2 Full
        .col-sm-10
          input(type='checkbox', name='full', checked=prism.full)
      .form-group
        label.control-label.col-sm-2 Active
        .col-sm-10
          input(type='checkbox', name='active', checked=prism.active)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
    div(style='margin-top: 100px;')
      .pull-right
        a.btn.btn-primary(href='/store/create?prism=#{prism.id}')
          span.glyphicon.glyphicon-plus
          span  Create Store
      h2 Stores
    form(action='/store/remove', method='post', role='form')
      input(type='hidden', name='prism', value=prism.id)
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Name
          th Host
          th Port
          th Full
          th Active
        each store in stores
          tr
            td
              input(type='checkbox', name='id[]', value=store.id)
            td
              a(href='/store/edit?id=#{store.id}')= store.name
            td= store.host
            td= store.port
            td
              +active(store.full)
            td
              +active(store.active)
      div
        button.btn.btn-danger#tableDelete(type='submit')
          span.glyphicon.glyphicon-remove
          span  Delete Checked