extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    +tableHeader('Prisms','/prism/create','Create Prism')
    +alerts()
    form(method='post', role='form')
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Name
          th Site
          th Created
          th Updated
        each row,i in list
          tr
            td
              input(type='checkbox', name='remove[]', value=row.id)
            td
              a(href='/prism/edit?id=#{row.id}')= row.name
            td= row.site
            td= new Date(row.createdAt).toDateString()
            td= new Date(row.updatedAt).toDateString()
      +tableFooter(page,count)