extends layout
block content
  .container
    h1= file.name
    +pathTree(god,file.relativeParent(god),file.name)
    br
    div
      a.btn.btn-success(href='/download?id=#{file.id}')
        span.glyphicon.glyphicon-download-alt
        |  Download
    br
    table.table.table-striped
      tr
        td CDN URL
        td http://#{prismHost}/#{file.sha1}/#{file.name}
      tr
        td Type
        td= file.mimeType
      tr
        td Size
        td= prettyBytes(file.size)
      tr
        td Uploaded
        td= new Date(file.metrics.dateCreated).toDateString()