extends ../layout
block append js
  script(src='/js/table.js')
  script(src='/js/episode.js')
block content
  .container
    h2 Edit Episode
    +alerts()
    form.form-horizontal(action='/episode/save', method='post', role='form')
      input(type='hidden', name='id', value=episode.id)
      input(type='hidden', name='show', value=episode.ShowId)
      .form-group
        label.control-label.col-sm-2 Show
        .col-sm-10
          .form-control-static
            a(href='/show/edit?id=#{episode.ShowId}')= episode.Show.title
      .form-group
        label.control-label.col-sm-2 Title
        .col-sm-10
          input.form-control(type='text', name='title', placeholder='Episode Title', value=episode.title)
      .form-group
        label.control-label.col-sm-2 URI
        .col-sm-10
          input.form-control(type='text', name='uri', placeholder='Episode URI', value=episode.uri)
      .form-group
        label.control-label.col-sm-2 Number
        .col-sm-10
          input.form-control(type='text', name='number', placeholder='Episode Number', value=episode.number)
      .form-group
        label.control-label.col-sm-2 Number Label
        .col-sm-10
          input.form-control(type='text', name='numberLabel', placholder='Optional Number Label that can be a string for special scenarios', value=episode.numberLabel)
      .form-group
        label.control-label.col-sm-2 Description
        .col-sm-10
          textarea.form-control(rows='5', name='description')= episode.description
      .form-group
        label.control-label.col-sm-2 Release Date
        .col-sm-10
          input(name='releaseDate', value=moment.utc(episode.releaseDate).format('MM-DD-YYYY HH:mm:ss'))
          span
            |  UTC
          span.help-block Date & Time format: mm-dd-yyyy hh:mm:ss
          span.help-block Example '11-30-2014 15:30:00'
      .form-group
        label.control-label.col-sm-2 Preview
        .col-sm-10
          input.form-control(type='text', name='preview', placeholder='Episode preview', value=episode.preview)
          span.help-block This is an iFrame URL, eg: http://embed.vidcache.net/xyz123
      .form-group
        label.control-label.col-sm-2 Meta Description
        .col-sm-10
          input.form-control(type='text', name='metaDescription', placeholder='Description for this Episode', value=episode.metaDescription)
      .form-group
        label.control-label.col-sm-2 Meta Keywords
        .col-sm-10
          input.form-control(type='text', name='metaKeywords', placeholder='Keywords for this Episode', value=episode.metaKeywords)
      .form-group
        label.control-label.col-sm-2 Maintenance Message
        .col-sm-10
          textarea.form-control(rows='5', name='maintenanceMessage')= episode.maintenanceMessage
          span.help-block After a maintenance issue is resolved, remember to change the message to ' resolved '.
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
    div(style='margin-top: 100px;')
      .pull-right
        a.btn.btn-success(href='/video/create?EpisodeId=#{episode.id}')
          span.glyphicon.glyphicon-plus
          span  Create Video
      h3 Videos
    form(action='/video/remove', method='post', role='form')
      input(type='hidden', name='id', value=episode.id)
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th Version
          th Release Date
          th Recently Released
        each video in episode.Videos
          tr
            td
              input(type='checkbox', name='index[]', value=video.id)
            td
              a(href='/video/edit?id=#{video.id}')= video.version
            td= video.releaseDate || 'Unknown'
            td
              +active(video.recentlyReleased)
      div
        button.btn.btn-danger#tableDelete(type='submit')
          span.glyphicon.glyphicon-remove
          span  Delete Checked
