extends ../layout
block append js
  script(src='/js/table.js')
block content
  .container
    h1 #{show.title}
    +alerts()
    form.form-horizontal(action='/show/save', method='post', role='form')
      input(type='hidden', name='id', value=show.id)
      .form-group
        label.control-label.col-sm-2 Title
        .col-sm-10
          input.form-control(type='text', name='title', placeholder='Show Title', value=show.title)
      .form-group
        label.control-label.col-sm-2 Sort Letter
        .col-sm-10
          input.form-control(type='text', name='sortLetter', placholder='Letter used to alphabetize the show', value=show.sortLetter)
      .form-group
        label.control-label.col-sm-2 URI
        .col-sm-10
          input.form-control(type='text', name='uri', placeholder='Show URI leave blank to generate from title', value=show.uri)
      .form-group
        label.control-label.col-sm-2 Alternate Titles
        .col-sm-10
          input.form-control(type='text', name='altTitles', placeholder='Show Alternate Titles', value=show.altTitles)
      .form-group
        label.control-label.col-sm-2 Release Date
        .col-sm-10
          input.form-control(type='text', name='releaseDate', placeholder='Release Date', value=moment.utc(show.releaseDate).format('MM-DD-YYYY'))
          span.help-block Date format: mm-dd-yyyy
      .form-group
        label.control-label.col-sm-2 Release Schedule (UTC)
        +showReleaseSchedule(show.ShowReleaseSchedules)
      .form-group
        label.control-label.col-sm-2 Active
        .col-sm-10.checkbox
          input(type='checkbox', name='active', checked=show.active)
      .form-group
        label.control-label.col-sm-2 Featured
        .col-sm-10.checkbox
          input(type='checkbox', name='featured', checked=show.featured)
      .form-group
        label.control-label.col-sm-2 Ongoing
        .col-sm-10.checkbox
          input(type='checkbox', name='ongoing', checked=show.ongoing)
      .form-group
        label.control-label.col-sm-2 New
        .col-sm-10.checkbox
          input(type='checkbox', name='new', checked=show.new)
      .form-group
        label.control-label.col-sm-2 Thumbnail
        .col-sm-10
          img.form-control-static(src=show.thumbnailUrl)
        .col-sm-offset-2.col-sm-10
          a.btn.btn-sm.btn-primary(href='/show/importThumbnail?id=#{show.id}')
            span.glyphicon.glyphicon-download
            span  Import Thumbnail
      .form-group
        label.control-label.col-sm-2 Description
        .col-sm-10
          textarea.form-control(rows='5', name='description')= show.description
      .form-group
        label.control-label.col-sm-2 Tags
        .col-sm-10
          input.form-control(type='text', name='tags', placeholder='Tags comma separated', value=S(show.tags.join(', ')).trim().s)
      .form-group
        label.control-label.col-sm-2 Popularity
        .col-sm-10
          input.form-control(type='text', name='popularity', placeholder='Tags comma separated', value=show.popularity)
      .form-group
        label.control-label.col-sm-2 Meta Description
        .col-sm-10
          input.form-control(type='text', name='metaDescription', placeholder='Description for this show', value=show.metaDescription)
      .form-group
        label.control-label.col-sm-2 Meta Keywords
        .col-sm-10
          input.form-control(type='text', name='metaKeywords', placeholder='Keywords for this show', value=show.metaKeywords)
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-success(type='submit') Save
    div(style='margin-top: 100px;')
      .pull-right
        a.btn.btn-primary(href='/episode/create?show=#{show.id}')
          span.glyphicon.glyphicon-plus
          span  Create Episode
      h2 Episodes
    form(action='/episode/remove', method='post', role='form')
      input(type='hidden', name='show', value=show.id)
      table.table.table-striped
        tr
          th
            input#toggle(type='checkbox')
          th #
          th Title
          th URI
        each episode in episodes
          tr
            td
              input(type='checkbox', name='id[]', value=episode.id)
            td= episode.number
            td
              a(href='/episode/edit?id=#{episode.id}')= episode.title
            td= episode.uri
      div
        button.btn.btn-danger#tableDelete(type='submit')
          span.glyphicon.glyphicon-remove
          span  Delete Checked